* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1a202c;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 1.25rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cbd5e0;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links-horizontal {
  display: none;
}

.nav-links-vertical {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4rem;
  align-items: center;
}

.icon-menu {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 2rem 5rem;
  }

  .nav-links-horizontal {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4rem;
    align-items: center;
  }

  .nav-links-vertical {
    display: none;
  }

  .nav-link:hover {
    color: #718096;
  }

  .icon-menu {
    display: none;
  }
}
